# Transactional email
RESEND_API_KEY=
EMAIL_FROM=Society <onboarding@resend.dev>


DATABASE_URL= Add database URl

AUTH_SECRET= Add Auth Secret
AUTH_GITHUB_ID = Add Github 
AUTH_GITHUB_SECRET = Github Secret

AUTH_GOOGLE_ID = Google_ID
AUTH_GOOGLE_SECRET = Google_Secret
